{% extends "base.html" %}
{% load static %}

{% block page_title %}Review Detail{% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "reviews/review-detail.css" %}">
{% endblock css_files %}

{% block content %}
    <div class='main-wrapper'>
        <h1>User: {{ review.user_name }}</h1>
        <h3>Rating: {{ review.rating }}</h3>
        <p>Feedback: {{ review.review_text }}</p>
        {% if is_favorite %}
            <p class='favorite-text'>This review is marked as your favorite review.</p>
        {% else %}
        <form action="/reviews/favorite" method="post">
            {% csrf_token %}
            <input type="hidden" name="review_id" value='{{ review.id }}'>
            <button>Favorite</button>
        </form>
        {% endif %}
    </div>
{% endblock content %}