body{
    background-color:rgb(31, 29, 29);
    color:rgb(186, 184, 184);
}
.main-wrapper{
    width:18rem;
    min-width: 18rem;
    margin: 5rem auto 0 auto;
    padding:2rem;
    padding-top:1rem;
    border:1px solid rgb(186, 184, 184);
    box-shadow: 0 0 5px rgba(255,255,255,0.6);
    border-radius: 6px;
}
.main-wrapper p{
    margin-top:2rem;
}
.main-wrapper p label{
    display: block;
}
.main-wrapper p input{
    width: 95%;
    height:1.5rem;
    border:1px solid rgb(186, 184, 184);
    margin-top:0.5rem;
    padding-left:10px;
    border-radius: 6px;
    background-color:rgb(31, 29, 29);
    color:rgb(186, 184, 184);
}
.main-wrapper p input:hover,
.main-wrapper p input:active{
    border-color:rgb(63, 131, 231);
}
.main-wrapper button{
    margin-top:1.5rem;
    width: 100%;
    background-color:rgb(63, 131, 231);
    border:1px solid rgba(63,131,231);
    height:2rem;
    color:white;
    border-radius: 6px;
    margin-bottom:1rem;
    cursor: pointer;
}
.main-wrapper button:hover{
    background-color:white;
    border-color:white;
    color:rgb(63, 131, 231);
}
.main-wrapper ul{
    padding: 0;
    text-align: justify;
    list-style: none;
}
.main-wrapper li{
    margin-top:0.5rem;
}
.main-wrapper h2{
    text-align: center;
}
.main-wrapper a{
    display: block;
    text-align: center;
    color:white;
    margin-top:1.5rem;
}
.main-wrapper p{
    text-align: center;
}