{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Password Reset
{% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "registration/password_reset_confirm.css" %}">
{% endblock css_files %}

{% block content %}
<div class="main-wrapper">
    <h2>Password Reset Form</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Set Password</button>
    </form>
</div>
{% endblock content %}