{% load static %}

<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>{% block title %}{% endblock %}</title>
        {% block css_files %}{% endblock %}
        <link rel="stylesheet" href="{% static "base.css" %}">
    </head>
    <body>
        <header id="main-navigation">
            <h1><a href="{% url "blog-starting-page" %}">Ramin's Blog</a></h1>
            <nav>
                <a href="{% url "read-later-url" %}">Stored Posts</a>
                <a href="{% url "blog-post-page" %}">All Posts</a>
            </nav>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>